div.ui.container {
    margin-top: 20px;
}

.color.red {
    color: red
}

.color.blue {
    color: blue
}
.clear{/* 03/15/2016 */
    clear: both;
}
.clear.button{
    float: left;
}
.ui.form .field.upload>label,.ui.form .field.upload>input[type=file]{
    float: left;/* added by vivek 03/15/2016 */
}